/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../fonts/fabric-icons-8cddd683.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--ChevronDown:before { content: "\E70D"; }
.ms-Icon--Add:before { content: "\E710"; }
.ms-Icon--Settings:before { content: "\E713"; }
.ms-Icon--People:before { content: "\E716"; }
.ms-Icon--Shop:before { content: "\E719"; }
.ms-Icon--Filter:before { content: "\E71C"; }
.ms-Icon--Search:before { content: "\E721"; }
.ms-Icon--Refresh:before { content: "\E72C"; }
.ms-Icon--FavoriteStar:before { content: "\E734"; }
.ms-Icon--FullScreen:before { content: "\E740"; }
.ms-Icon--Undo:before { content: "\E7A7"; }
.ms-Icon--Repair:before { content: "\E90F"; }
.ms-Icon--FlickUp:before { content: "\E936"; }
.ms-Icon--CheckList:before { content: "\E9D5"; }
.ms-Icon--Equalizer:before { content: "\E9E9"; }
.ms-Icon--DoubleChevronLeft:before { content: "\EDBE"; }
.ms-Icon--DoubleChevronUp12:before { content: "\EE96"; }
.ms-Icon--Sprint:before { content: "\F3B0"; }
